/* I reset margin and padding to avoid browser inconsistency and make things smooth */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* I Chose a simple font and soft background to improve readability */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}